*{
    margin: 0;
    padding; 0;
    box-sizing: border-box;
}
/*Cor de Fundo do Navbar*/
nav{
    background-color: rgb(228, 180, 118);
}
/*Nav de menu um do lado do outro*/
nav li{
    display: inline-block;
}
/*Aplicação de cor,texto, display nav horizontal e vertical (inline-block)*/
nav li a{
    display: inline-block;
    color: rgb(56, 55, 55);
    text-decoration: none;
    padding: 15px
}
/*Altera cor de acordo com que o mouse passa por cima do menu*/
nav li a:hover{
    background-color: rgb(228, 180, 118);
}

.dropdown-menu {
    position:absolute;
    box-shadow: 0 0 2px rgb(116, 111, 111);
    display: none;
}
.dropdown-menu a{
    display: block;
    color: black;
}


.dropdown:hover .dropdown-menu{
    display: block;
}